[advice]
    statusHints = false

[alias]
    ci = commit
    co = checkout
    dom = diff origin/master
    domns = diff origin/master --name-status
    dt = diff @{upstream}
    dtns = diff @{upstream} --name-status
    ff = merge --ff-only
    g = log --graph --decorate --format=graph --all
    gm = log --graph --decorate --format=graph
    logns = log --name-status --decorate
    logp = log -p --decorate
    po = push-current-branch-to-origin
    stat = status -sb
    identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"

[branch]
    autosetupmerge = always
    autosetuprebase = always

[color]
    ui = auto

[core]
	  excludesfile = ~/.gitignore_global

[fetch]
    prune = true

[merge]
    tool = vimdiff

[pretty]
    graph = %C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold cyan)<%an>%C(reset)
[push]
    default = simple
[user]
	name = "Alex Figl-Brick"
	useConfigOnly = true
[init]
	defaultBranch = main
